# Bot token from @BotFather (requireq)
BOT_TOKEN=your_bot_token

# Database URL (required)
DB_PATH=your_DB_path 

# URL to LLM
LLM_URL=your_llm_url

# LLM default model
LLM_MODEL=your_llm_model

# system prompt for your LLM
SYSTEM_PROMPT=your_system_prompt

#WEB application host
HOST=your_host

# WEB application port
PORT=your_port

# URL for webhook
WEBHOOK_URL=your_webhook_url